/* *{
    margin: 0;
    padding: 0;
} */

#contenedor {
    display: flex;
    border: 5px dotted black;
    padding: 20px;
}

.elemento {
    height: 100px;
    width: 100px;
    margin: auto;
    border: 5px solid black;
    border-radius: 20%;
    padding: 10px;
    text-align: center;
}

#e1 {
    background-color: brown;
}

#e2 {
    background-color: cadetblue;
    border-radius: 100%;
}

#e2:hover {
    background-color: rgb(13, 73, 75);
}

#e3 {
    background-color: darkolivegreen;
    float: right;
}

#e4 {
    background-color: rgb(107, 47, 104);
}

#contenedor-classroom {
    border: 2px dashed darkcyan;
    width: 30%;
    text-align: center;
    margin: auto;
}

.elemento img {
    height: 50px;
}

#contenedor a {
    text-transform: uppercase;
    /* text-decoration: underline red 10px; */
    text-decoration: none;
    color: blue;
}

main{
    padding-top: 100px;
}

/* menú de navegación */
nav {
    background: linear-gradient( 45deg, rgb(201, 114, 197), rgb(135, 217, 224));
    padding: 15px 0 15px 0;
    position: fixed;
    width: 100vw;

}

nav ul {
    padding: 0;
    display: flex;
    /* pone elementos dentro de ul en horizontal */
    list-style: none;
    /* quita el puntito de la lista */
}

nav ul li {
    margin: auto;
    /* pone margenes a los li, repartiendo el espacio equitativamente*/
    text-transform: uppercase;
    background-color: rgb(133, 133, 242);
    color: white;
    padding: 10px;
    border-radius: 7%;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul li:hover{
   background-color: aquamarine;
}




nav ul li ul {
    
}

.submenu {
    display: none;
    position: absolute;
}

.submenu li:hover{
    background: linear-gradient( 45deg, rgb(201, 114, 197), rgb(135, 217, 224));
}

.submenu a{
    text-decoration: none;
}

nav ul li:hover ul{
    display: block;
}
